---
layout: plugins/compress
---

{%- include reset/defaults.liquid -%}

<!DOCTYPE html>
<html lang="{{ lang }}"> 
    <head>
        {%- include node/metadata.liquid -%}

        {%- include node/title.liquid -%}
        {%- include node/links.liquid -%}
        {%- include node/script.schema.liquid -%}
 
        {%- include extra/head.html -%}

        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script data-ad-client="ca-pub-8949878373616356" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </head>
    <body class="container">
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="Juo4pJjk"></script>

        {%- include class/sidebar-wrap.liquid -%}
        {%- include class/content-wrap.liquid -%}
        {%- include class/addons-wrap.liquid  -%}

        {%- include node/script.liquid -%}
        {%- include node/script.extension.liquid -%}

        {%- include extra/footer.html -%}
    </body>
</html>
